{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('meterAdd') }}">Return to Form Entry</a>

    <li>Entry submitted successfully</li>

    <br>

    {% for entry in entries %}
        <li><b>ID:        {{ entry.id }}</b></li>

        <br><br>
    {% endfor %}


{% endblock %}
