{% extends 'base.html.twig' %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <h1>Meter Read Entry</h1><br>

    <div class="form-container">
        {{ form_start(form) }}
        {% for child in form.children %}
            {% if loop.index0 % 2 == 0 %}
                <div class="even">  {{ form_row(child) }} </div>
            {% else %}
                <div class="odd">  {{ form_row(child) }} </div>
            {% endif %}
        {% endfor %}
        {{ form_end(form) }}
    </div>

    <script>
        $(document).ready(function () {

            $(".datepicker").datepicker({
                showOn: "both",
                buttonImage: "http://apps-webdev.campusops.oregonstate.edu/jordann/portal/img/calendar.png",
                minDate: -60,
                dateFormat: 'mm/dd/yy'
            });
        });
    </script>


{% endblock %}
