body {

}

label {
	display:inline;
	padding-left:5px;
	padding-right:5px;
}
#header {
 margin-bottom:1px;
}

#main-menu .content {
	padding-bottom:0;
	margin-bottom:0;
}

#breadcrumbs {
	padding:2px;
	padding-left:5px;
	background-color:#FFF;
	margin-bottom:10px;
	font-size:11px;
	line-height:20px;
	font-family:"Arial","Helvetica",sans-serif;
	color:#666666;

}
#breadcrumbs ul {
	list-style-type: none outside none;
	padding: 0px;
	margin: 0px;
	margin-left:15px;
	padding-left:15px;
}
#breadcrumbs ul a {
	text-decoration:none;
}

#breadcrumbs ul a:hover {
	text-decoration:underline;
}


#breadcrumbs ul li {
	display:inline;
	
}

#sidebar-first li.active a:hover {
	color:#FFF;
	text-decoration:underline;
}


.classic .content {
	margin-bottom: 15px;
}

/** feature stories **/
.view-feature-story .side-controls {
	top:184px;
	opacity:0.6;
	border-left: solid 1px #ccc;
	border-top: solid 1px #ccc;
	border-right: solid 1px #ccc;
}
.view-feature-story .side-controls:focus {
	opacity:0.6;
}
#block-views-feature-story-block .view-feature-story .more-link {
	right:258px;
	background-color: rgba(255, 255, 255, 0.6);
}
#block-views-feature-story-block .content {
	max-height:250px;
}
#block-views-feature-story-block .view-feature-story .views-field-field-caption {
	right:0;
	height: 100%;
	width:250px;
	max-height:none;
}
#main-column1 .content, #main-column2 .content, #main-column3 .content, #main-column4 .content {
	padding:0px;
}

#main-column1 h2, #main-column2 h2, #main-column3 h2, #main-column4 h2 {
	font-size:16px;
	line-height:22px;
	padding-bottom: 0.5em;
    padding-top: 0.3em;
}
#main-column4 .block-live-feeds .live-feeds-block .news-item .news-body {
	background:url(/robechar/website/quote-open.png) no-repeat top left;
	padding-top:5px;
}

/** News **/
.news-item h3 {
	line-height:20px;
}
.news-item h3 a {
	text-decoration:none;
}

.news-item h3 a:hover {
	text-decoration:underline;
}
.classic .row .block-live-feeds .live-feeds-block .calendar-item, .classic .row .block-live-feeds .live-feeds-block .news-item {
	padding:8px;
	margin-bottom:8px;
}

#main-column1 h2 a, #main-column2 h2 a, #main-column3 h2 a, #main-column4 h2 a {
	text-decoration:none;
	color:#373737;
}

#main-column1 h2 a:hover, #main-column2 h2 a:hover, #main-column3 h2 a:hover, #main-column4 h2 a:hover {
	text-decoration:underline;
	color:#C34500;
}


.calendar-item .description {
	font-size:11px;
}

.live-feeds-block .news-item .date , .date {
	font-family:Arial;
	font-size:11px;
	color:#808080;
	font-style:normal;
}

/** search **/
.searchbutton {
	valign
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.searchbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.searchbutton:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */




